//! **************************************************************************
// Written by: Map P.20131013 on Sat Sep 19 19:59:24 2020
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

