//! **************************************************************************
// Written by: Map P.20131013 on Wed Sep 09 13:26:32 2020
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

